/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  margin: 0;
}

/* Page background */
body {
  background-color: #f3f4ff;  /* light bluish-lavender */
}
